* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 5fr auto;
    margin: 0;
    min-height: 100vh;
}

header {
    text-indent: 50px;
    font-size: 50px;
}

img {
    width: 50px;
    height: 50px;
}

form {
    margin-top: -30px;
}

#title,
#description,
#dueDate,
#taskItem {
    font-size: 24px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    width: 250px;
    outline: none;
    border-radius: 0;
    background: linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat;
    margin-top: 20px;
}

#low,
#medium,
#high {
    border: 2px solid #000; 
}

input[type="radio"].priority {
    display: none;
}

input[type="radio"].priority:checked + p {
    color: white;
    background-color: #000;
    padding: 5px; 
}

#priorityOption {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-left: 105px;
}

label {
    display: block;
}

.tasks {
    margin-left: -5px;
    appearance: none; 
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: white;
}

.tasks:checked {
    background: radial-gradient(circle, black 0%, black 50%, white 50%, white 100%);
    border: 2px solid black;
}

#description {
    width: 350px;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #aaa;
    transition: color 0.3s ease;
}

button {
    border-style: none;
    background-color: transparent;
}

#saveButton,
#clearButton {
    background-color: #f0eef1;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    width: 88px;
    height: 44px;
}

#delProjectButton {
    background-color: #f0eef1;
    color: red;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    width: 88px;
    height: 44px;
}

#closeButton {
    display: flex;
    background-color: #f0eef1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
}

#xButton {
    width: 30px;
    height: 30px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#myProject {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#itemsArea,
#myProject,
footer {
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}

#task {
    display: flex;  
}

input#taskItem {
    margin-bottom: 30px;
}

header, 
footer {
    color: #333333;
    background: #f5f5f5;
    padding: 20px;
}

dialog {
    width: 600px;
    padding: 15px;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
}

.box {
    height: 50px;
    flex-direction: row;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#projectTitle {
    font-size: 50px;
    font-weight: bolder;
}

#circleImg {
    width: 40px;
    height: 40px;
    margin-left: 93px;
    margin-right: 20px;
}